.cardMain {
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* justify-content: flex-start; */
    gap: 2rem;
}

.cardParent {
    display: flex;
    justify-content: center;
    align-items: center;
}